################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/config/apiconsole.py
/.vs
/config/__pycache__
